{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload.css') }}">
<form method="POST" action="{{ url_for('upload_image') }}" enctype="multipart/form-data">
    <input type="text" name="id" placeholder="Entrez une ID (Les albums sont classés de 1 à ...)" required>
    <input type="text" name="titre" placeholder="Entrez un titre d'album">
    <input type="file" name="image" accept="image/jpeg" multiple required>
    <button type="submit">Envoyer</button>
</form>
{% endblock %}

